<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../dist/3.2.18/vue.global.js"></script>
</head>
<body>
<div id="myDiv">
    姓：<input type="text" v-model="user.firstName"/> <br>
    名：<input type="text" v-model="user.lastName"> <br>


    用户姓名信息(Computed)：<span>{{fullNameComputed}}</span> <br>
    用户姓名信息(Watch)：<span>{{fullNameWatched}}</span> <br>
    用户姓名信息(WatchEffect)：<span>{{fullNameWatchEffect}}</span> <br>
</div>
<script type="text/javascript">
    const {reactive, computed, watch, watchEffect, ref} = Vue;

    let vueApp = {
        data   : function () {
            return {
                "key": "value",
            };
        },
        methods: {
            "funcName": function () {

            },
        },
        setup  : function () {
            const user = reactive({
                                      firstName: "东方",
                                      lastName : "不败",
                                  });

            // +--------------------------------------------------------------------------
            // |::说明·| 仅有get的计算属性
            // +--------------------------------------------------------------------------
            const fullNameComputed = computed(() => {
                return user.firstName + "-" + user.lastName;
            });


            // +--------------------------------------------------------------------------
            // |::说明·| 监视方法
            // +--------------------------------------------------------------------------
            let fullNameWatched = ref("");
            watch(user, (val) => {
                fullNameWatched.value = val.firstName + "-" + val.lastName;
            }, {deep: true, immediate: true});

            // +--------------------------------------------------------------------------
            // |::说明·| watchEffect 监视
            // +--------------------------------------------------------------------------
            let fullNameWatchEffect = ref("");
            watchEffect(() => {
                fullNameWatchEffect.value = user.firstName + ">" + user.lastName;
            });

            return {
                user,
                fullNameComputed,
                fullNameWatched,
                fullNameWatchEffect,
            };
        },
    };
    Vue.createApp(vueApp).mount("#myDiv");
</script>


</body>
</html>